# Import Libraries

In [151]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

In [152]:
df = pd.read_csv('_SubscriptionDataset.csv')

In [207]:
df.head(1)

,customerID,gender,age_over_65,Partner,customer_longevity_in_months,Multiple Devices,InternetService,TechSupport_Rating,NUM_WATCHED_TITLES,State,Contract,E-Billing,PaymentMethod,MonthlyCharges,TotalCharges,Subscribed,Number_of_Profiles,PLAN_TYPE,NEW_RELEASE_CONSUMPTION,AUTORENEW_FLAG,Last_Payment_Date,Has_Children,AVG_WATCH_TIME
0,7590-VHVEG,Female,0.0,Yes,1.0,0.0,DSL,Good,14.0,Kansas,Month-to-month,Yes,Electronic check,NaN,29.85,No,6,Premium,NaN,1.00,2023-01-19,4,40.26

# Data Cleaning 
 - It appears the data is quite dirty and needs to be cleaned. Unfortunately there is no shortcut for this step.
 - I typically go column by column to inspect each invididually then I will complete data inspection as a whole.

In [156]:
df['gender'].value_counts()

gender
Male        1745
Female      1719
 Male       1715
 Female     1657
Name: count, dtype: int64

In [157]:
df['gender'] = df['gender'].str.strip()
df['gender'].value_counts()

gender
Male      3460
Female    3376
Name: count, dtype: int64

In [159]:
df['age_over_65'].value_counts()

age_over_65
$0.00     2869
0         2864
1          601
$1.00      515
$nan       455
Name: count, dtype: int64

In [160]:
# Remove dollar signs and commas
# skip NaN values
# convert to nullable integers

df['age_over_65'] = pd.to_numeric(
    df['age_over_65'].replace({'\$': '', ',': ''}, regex=True), errors='coerce'
).astype('Int64')  # Int64 allows for NaN values

In [161]:
df['age_over_65'].value_counts()

age_over_65
0    5733
1    1116
Name: count, dtype: Int64

In [162]:
df['Partner'].value_counts()

Partner
No       1753
 No      1740
Yes      1707
 Yes     1629
Name: count, dtype: int64

In [163]:
df['Partner'] = df['Partner'].str.strip()
df['Partner'].value_counts()

Partner
No     3493
Yes    3336
Name: count, dtype: int64

In [165]:
df['customer_longevity_in_months'].value_counts()

customer_longevity_in_months
$nan       465
1          315
$1.00      292
72         181
$72.00     170
          ...
54          23
$49.00      23
36          21
0            4
$0.00        4
Name: count, Length: 147, dtype: int64

In [166]:
# Remove dollar signs and commas
# skip NaN values
# convert to nullable integers

df['customer_longevity_in_months'] = pd.to_numeric(
    df['customer_longevity_in_months'].replace({'\$': '', ',': ''}, regex=True), errors='coerce')

In [167]:
df['customer_longevity_in_months'].value_counts()

customer_longevity_in_months
1.0     607
72.0    351
2.0     227
3.0     181
4.0     173
       ...
38.0     55
28.0     53
39.0     53
36.0     46
0.0       8
Name: count, Length: 73, dtype: int64

In [168]:
# Remove dollar signs and commas
# skip NaN values
# convert to nullable integers

df['Multiple Devices'].value_counts()

Multiple Devices
$4.00     745
2         724
1         702
$2.00     699
$1.00     690
$3.00     674
$0.00     672
3         665
4         656
0         613
$nan      455
Name: count, dtype: int64

In [169]:
# Remove dollar signs, commas, and decimals, and convert to integers

df['Multiple Devices'] = pd.to_numeric(
    df['Multiple Devices'].replace({'\$': '', ',': ''}, regex=True), errors='coerce'
).apply(lambda x: int(x) if pd.notnull(x) else x)

In [170]:
df['Multiple Devices'].value_counts()

Multiple Devices
2.0    1423
4.0    1401
1.0    1392
3.0    1339
0.0    1285
Name: count, dtype: int64

In [171]:

df['InternetService'].value_counts()

InternetService
 Fiber optic     1570
Fiber optic      1455
 DSL             1175
DSL              1173
 No               767
No                715
Name: count, dtype: int64

In [172]:
# Remove Whitespaces

df['InternetService'] = df['InternetService'].str.strip()
df['InternetService'].value_counts()

InternetService
Fiber optic    3025
DSL            2348
No             1482
Name: count, dtype: int64

In [173]:
df['TechSupport_Rating'].value_counts()

TechSupport_Rating
('Good', 'ExtraValue')      918
(' Bad ', 'ExtraValue')     866
['Bad', 'ListValue']        864
[' Bad ', 'ListValue']      859
('Bad', 'ExtraValue')       858
['Good', 'ListValue']       845
[' Good ', 'ListValue']     842
(' Good ', 'ExtraValue')    802
(nan, 'ExtraValue')         457
[nan, 'ListValue']          436
Name: count, dtype: int64

In [174]:
# Remove lists and tuples, keeping only the first ele 
# Remove the second element (index 1) from lists and tuples

# Remove the first and last character of a string
df['TechSupport_Rating'] = df['TechSupport_Rating'].apply(lambda x: x[1:-1] if isinstance(x, str) else x)

In [175]:
df['TechSupport_Rating'].value_counts()

TechSupport_Rating
'Good', 'ExtraValue'      918
' Bad ', 'ExtraValue'     866
'Bad', 'ListValue'        864
' Bad ', 'ListValue'      859
'Bad', 'ExtraValue'       858
'Good', 'ListValue'       845
' Good ', 'ListValue'     842
' Good ', 'ExtraValue'    802
nan, 'ExtraValue'         457
nan, 'ListValue'          436
Name: count, dtype: int64

In [176]:
# Convert the string values to a list, splitting by commas
df['TechSupport_Rating'] = df['TechSupport_Rating'].apply(
    lambda x: x.split(',') if isinstance(x, str) else x
)

In [177]:
df['TechSupport_Rating'].value_counts()

TechSupport_Rating
['Good',  'ExtraValue']      918
[' Bad ',  'ExtraValue']     866
['Bad',  'ListValue']        864
[' Bad ',  'ListValue']      859
['Bad',  'ExtraValue']       858
['Good',  'ListValue']       845
[' Good ',  'ListValue']     842
[' Good ',  'ExtraValue']    802
[nan,  'ExtraValue']         457
[nan,  'ListValue']          436
Name: count, dtype: int64

In [178]:
df['TechSupport_Rating'] = df['TechSupport_Rating'].apply(lambda x: [item.strip() for item in x] if isinstance(x, list) else x)

In [179]:
df['TechSupport_Rating'].value_counts()

TechSupport_Rating
['Good', 'ExtraValue']      918
[' Bad ', 'ExtraValue']     866
['Bad', 'ListValue']        864
[' Bad ', 'ListValue']      859
['Bad', 'ExtraValue']       858
['Good', 'ListValue']       845
[' Good ', 'ListValue']     842
[' Good ', 'ExtraValue']    802
[nan, 'ExtraValue']         457
[nan, 'ListValue']          436
Name: count, dtype: int64

In [180]:
# Use for loop to keep only the 0th element from each list in 'TechSupport_Rating'

for index, row in df.iterrows():
    if isinstance(row['TechSupport_Rating'], list):
        df.at[index, 'TechSupport_Rating'] = row['TechSupport_Rating'][0]

df['TechSupport_Rating'].value_counts()

TechSupport_Rating
'Good'      1763
' Bad '     1725
'Bad'       1722
' Good '    1644
nan          893
Name: count, dtype: int64

In [181]:
df['TechSupport_Rating'] = df['TechSupport_Rating'].str.strip()

In [182]:
# Loop through each row to remove whitespaces inside quotes

for index, row in df.iterrows():
    df.at[index, 'TechSupport_Rating'] = row['TechSupport_Rating'].replace(' ', '').strip()

In [183]:
df['TechSupport_Rating'].value_counts()

TechSupport_Rating
'Bad'     3447
'Good'    3407
nan        893
Name: count, dtype: int64

In [184]:
# Loop through each row to clean 'TechSupport_Rating' values

for index, row in df.iterrows():
    cleaned_value = row['TechSupport_Rating'].replace('"', '').replace("'", "").strip()
    df.at[index, 'TechSupport_Rating'] = cleaned_value
df['TechSupport_Rating'].value_counts()

TechSupport_Rating
Bad     3447
Good    3407
nan      893
Name: count, dtype: int64

In [185]:
df['NUM_WATCHED_TITLES'].value_counts().head()

NUM_WATCHED_TITLES
$nan       465
$16.00     213
$6.00      193
6          190
10         189
Name: count, dtype: int64

In [186]:
df['NUM_WATCHED_TITLES'] = pd.to_numeric(
    df['NUM_WATCHED_TITLES'].replace({'\$': '', ',': ''}, regex=True), errors='coerce'
).apply(lambda x: int(x) if pd.notnull(x) else x)

In [187]:
df['NUM_WATCHED_TITLES'].value_counts().head()

NUM_WATCHED_TITLES
6.0     383
16.0    375
10.0    368
7.0     356
8.0     355
Name: count, dtype: int64

In [188]:
df['State'].value_counts()

State
<b>nan</b>              270
 Vermont                 64
New Hampshire            63
 Oklahoma                61
West Virginia            60
                       ...
<b>Kentucky</b>          13
<b> Wisconsin </b>       12
<b>Michigan</b>          12
<b> Connecticut </b>     12
<b>Arkansas</b>           9
Name: count, Length: 201, dtype: int64

In [189]:
import re
# Function to remove HTML tags
def remove_html_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

# Apply the function to the 'State' column, handling non-string values
df['State'] = df['State'].apply(lambda x: remove_html_tags(x) if isinstance(x, str) else x)

In [190]:
df['State'].value_counts()

State
nan              270
New York          92
 Vermont          91
Maine             89
 Oregon           88
                ...
Maryland          54
 Connecticut      53
 Alaska           53
 Wisconsin        52
 Arizona          41
Name: count, Length: 101, dtype: int64

In [191]:
df['State'] = df['State'].str.strip()

In [192]:
df['State'].value_counts().head(3)

State
nan         270
New York    169
Vermont     167
Name: count, dtype: int64

In [193]:
# Remove dollar sign from all columns
df = df.applymap(lambda x: x.replace('$', '') if isinstance(x, str) else x)

In [194]:
# Round all columns with decimal values to 2 decimal places
df = df.applymap(lambda x: round(x, 2) if isinstance(x, (int, float)) else x)

In [195]:
df.head(3)

,customerID,gender,age_over_65,Partner,customer_longevity_in_months,Multiple Devices,InternetService,TechSupport_Rating,NUM_WATCHED_TITLES,State,Contract,E-Billing,PaymentMethod,MonthlyCharges,TotalCharges,Subscribed,Number_of_Profiles,PLAN_TYPE,NEW_RELEASE_CONSUMPTION,AUTORENEW_FLAG,Last_Payment_Date,Has_Children,AVG_WATCH_TIME
0,7590-VHVEG,Female,0.0,Yes,1.0,0.0,DSL,Good,14.0,Kansas,Month-to-month,Yes,Electronic check,NaN,29.85,No,6,Premium,NaN,1.00,1/19/23,4,40.26
1,5575-GNVDE,Male,NaN,NaN,34.0,1.0,DSL,Bad,16.0,Hawaii,One year,No,Mailed check,56.95,1889.5,No,5,Standard,42.23,0.00,10/23/23,5,9.9299389
2,3668-QPYBK,Male,0.0,No,NaN,3.0,DSL,Good,6.0,NaN,Month-to-month,Yes,Mailed check,53.85,108.15,NaN,4.00,Basic,64.16,0,20/01/2023,5,3.49

In [196]:
# Remove whitespaces from all string values in the DataFrame
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [197]:
df.head(3)

,customerID,gender,age_over_65,Partner,customer_longevity_in_months,Multiple Devices,InternetService,TechSupport_Rating,NUM_WATCHED_TITLES,State,Contract,E-Billing,PaymentMethod,MonthlyCharges,TotalCharges,Subscribed,Number_of_Profiles,PLAN_TYPE,NEW_RELEASE_CONSUMPTION,AUTORENEW_FLAG,Last_Payment_Date,Has_Children,AVG_WATCH_TIME
0,7590-VHVEG,Female,0.0,Yes,1.0,0.0,DSL,Good,14.0,Kansas,Month-to-month,Yes,Electronic check,NaN,29.85,No,6,Premium,NaN,1.00,1/19/23,4,40.26
1,5575-GNVDE,Male,NaN,NaN,34.0,1.0,DSL,Bad,16.0,Hawaii,One year,No,Mailed check,56.95,1889.5,No,5,Standard,42.23,0.00,10/23/23,5,9.9299389
2,3668-QPYBK,Male,0.0,No,NaN,3.0,DSL,Good,6.0,NaN,Month-to-month,Yes,Mailed check,53.85,108.15,NaN,4.00,Basic,64.16,0,20/01/2023,5,3.49

In [198]:
df['AVG_WATCH_TIME'] = df['AVG_WATCH_TIME'].round(2)

In [199]:
df.head(5)

,customerID,gender,age_over_65,Partner,customer_longevity_in_months,Multiple Devices,InternetService,TechSupport_Rating,NUM_WATCHED_TITLES,State,Contract,E-Billing,PaymentMethod,MonthlyCharges,TotalCharges,Subscribed,Number_of_Profiles,PLAN_TYPE,NEW_RELEASE_CONSUMPTION,AUTORENEW_FLAG,Last_Payment_Date,Has_Children,AVG_WATCH_TIME
0,7590-VHVEG,Female,0.0,Yes,1.0,0.0,DSL,Good,14.0,Kansas,Month-to-month,Yes,Electronic check,NaN,29.85,No,6,Premium,NaN,1.00,1/19/23,4,40.26
1,5575-GNVDE,Male,NaN,NaN,34.0,1.0,DSL,Bad,16.0,Hawaii,One year,No,Mailed check,56.95,1889.5,No,5,Standard,42.23,0.00,10/23/23,5,9.9299389
2,3668-QPYBK,Male,0.0,No,NaN,3.0,DSL,Good,6.0,NaN,Month-to-month,Yes,Mailed check,53.85,108.15,NaN,4.00,Basic,64.16,0,20/01/2023,5,3.49
3,7795-CFOCW,Male,0.0,No,45.0,2.0,DSL,Bad,4.0,Illinois,One year,No,Bank transfer (automatic),42.30,1840.75,No,2,Premium,26.57342887,1,8/10/23,4.00,nan
4,9237-HQITU,Female,0.0,No,2.0,2.0,Fiber optic,nan,14.0,Indiana,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,2.00,Basic,67.40143139,1,16-Mar-23,2,44.50339225

In [200]:
df['NEW_RELEASE_CONSUMPTION'] = df['NEW_RELEASE_CONSUMPTION'].round(2)

In [201]:
df.head(5)

,customerID,gender,age_over_65,Partner,customer_longevity_in_months,Multiple Devices,InternetService,TechSupport_Rating,NUM_WATCHED_TITLES,State,Contract,E-Billing,PaymentMethod,MonthlyCharges,TotalCharges,Subscribed,Number_of_Profiles,PLAN_TYPE,NEW_RELEASE_CONSUMPTION,AUTORENEW_FLAG,Last_Payment_Date,Has_Children,AVG_WATCH_TIME
0,7590-VHVEG,Female,0.0,Yes,1.0,0.0,DSL,Good,14.0,Kansas,Month-to-month,Yes,Electronic check,NaN,29.85,No,6,Premium,NaN,1.00,1/19/23,4,40.26
1,5575-GNVDE,Male,NaN,NaN,34.0,1.0,DSL,Bad,16.0,Hawaii,One year,No,Mailed check,56.95,1889.5,No,5,Standard,42.23,0.00,10/23/23,5,9.9299389
2,3668-QPYBK,Male,0.0,No,NaN,3.0,DSL,Good,6.0,NaN,Month-to-month,Yes,Mailed check,53.85,108.15,NaN,4.00,Basic,64.16,0,20/01/2023,5,3.49
3,7795-CFOCW,Male,0.0,No,45.0,2.0,DSL,Bad,4.0,Illinois,One year,No,Bank transfer (automatic),42.30,1840.75,No,2,Premium,26.57342887,1,8/10/23,4.00,nan
4,9237-HQITU,Female,0.0,No,2.0,2.0,Fiber optic,nan,14.0,Indiana,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,2.00,Basic,67.40143139,1,16-Mar-23,2,44.50339225

In [202]:
df['Last_Payment_Date'].value_counts()

Last_Payment_Date
11/10/23      25
1/9/23        24
5/10/23       23
2/1/23        22
6/9/23        20
              ..
12-Aug-23      1
24/05/2023     1
9-Aug-23       1
15/01/2023     1
19/09/2023     1
Name: count, Length: 942, dtype: int64

In [203]:

# Convert the 'last_payment_date' column to datetime format
df['Last_Payment_Date'] = pd.to_datetime(df['Last_Payment_Date'], errors='coerce', dayfirst=True)

In [204]:
df['Last_Payment_Date'].value_counts()

Last_Payment_Date
2023-10-11    34
2023-02-23    30
2023-05-02    30
2023-08-08    28
2023-01-20    28
              ..
2023-09-19     9
2023-06-28     9
2023-05-17     9
2023-12-13     8
2023-03-26     8
Name: count, Length: 366, dtype: int64

In [205]:
df.head(5)

,customerID,gender,age_over_65,Partner,customer_longevity_in_months,Multiple Devices,InternetService,TechSupport_Rating,NUM_WATCHED_TITLES,State,Contract,E-Billing,PaymentMethod,MonthlyCharges,TotalCharges,Subscribed,Number_of_Profiles,PLAN_TYPE,NEW_RELEASE_CONSUMPTION,AUTORENEW_FLAG,Last_Payment_Date,Has_Children,AVG_WATCH_TIME
0,7590-VHVEG,Female,0.0,Yes,1.0,0.0,DSL,Good,14.0,Kansas,Month-to-month,Yes,Electronic check,NaN,29.85,No,6,Premium,NaN,1.00,2023-01-19,4,40.26
1,5575-GNVDE,Male,NaN,NaN,34.0,1.0,DSL,Bad,16.0,Hawaii,One year,No,Mailed check,56.95,1889.5,No,5,Standard,42.23,0.00,2023-10-23,5,9.9299389
2,3668-QPYBK,Male,0.0,No,NaN,3.0,DSL,Good,6.0,NaN,Month-to-month,Yes,Mailed check,53.85,108.15,NaN,4.00,Basic,64.16,0,2023-01-20,5,3.49
3,7795-CFOCW,Male,0.0,No,45.0,2.0,DSL,Bad,4.0,Illinois,One year,No,Bank transfer (automatic),42.30,1840.75,No,2,Premium,26.57342887,1,2023-10-08,4.00,nan
4,9237-HQITU,Female,0.0,No,2.0,2.0,Fiber optic,nan,14.0,Indiana,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,2.00,Basic,67.40143139,1,2023-03-16,2,44.50339225

In [208]:
df.columns

Index(['customerID', 'gender', 'age_over_65', 'Partner',
       'customer_longevity_in_months', 'Multiple Devices', 'InternetService',
       'TechSupport_Rating', 'NUM_WATCHED_TITLES', 'State', 'Contract',
       'E-Billing', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'Subscribed', 'Number_of_Profiles', 'PLAN_TYPE',
       'NEW_RELEASE_CONSUMPTION', 'AUTORENEW_FLAG', 'Last_Payment_Date',
       'Has_Children', 'AVG_WATCH_TIME'],
      dtype='object')